@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject IToastService ToastService
@inject HttpClient Http
@using System.Net.Http.Headers
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
   
        
        <div class="top-row px-4">
             <button class="btn btn-outline-secondary" @onclick="Logout">
                <span class="oi oi-account-login" aria-hidden="true"></span> Déconnexion
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome" 
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>

@code {
     private async Task<string> GetCookieValueAsync(string cookieName)
    {
        return await JSRuntime.InvokeAsync<string>("getCookie", cookieName);
    }
    private string AccessToken { get; set; }
    private string Role { get; set; }



    // Logout et redirection vers la page des salariés
    private async Task Logout()
    {
        try {
            // On vérifie si on est connecté
            AccessToken = await GetCookieValueAsync("AccessToken");
            Role = await GetCookieValueAsync("Role");
            if(AccessToken != null  && Role != null){
            var request = new HttpRequestMessage(HttpMethod.Post, "/Auth/Logout");
            // On peut déconnecter seulement si on a un refresh token dans les cookies
            request.Headers.Authorization = new AuthenticationHeaderValue("Bearer", await GetCookieValueAsync("refreshToken"));
            var response = await Http.SendAsync(request);
            if(response.IsSuccessStatusCode) {
                // Si la déconnexion est réussie, on redirige vers la page des salariés, on force le chargement de la page et on supprime les cookies
                ToastService.ShowSuccess("Déconnexion réussie");
                NavigationManager.NavigateTo("/salaries", true);                
            } else {
                ToastService.ShowError("Erreur lors de la déconnexion");
            }
            }
            else {
                ToastService.ShowError("Vous n'êtes pas connecté");
            }
            
        } catch (Exception ex) {
            ToastService.ShowError(ex.Message);
        }
    }
}



 
